RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Разрешаем доступ к uploads
<Directory "uploads">
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Files ".env">
    Require all denied
</Files>

<Files "*.log">
    Require all denied
</Files>
